## 取得資料

In [1]:
import requests
import pandas as pd

url = "http://192.168.31.130:32327/games_reviews/_search?scroll=1m"  # 使用 Scroll，scroll=1m 表示 Scroll 保持活躍1分鐘
headers = {"Content-Type": "application/json"}

# 初始化 Scroll 查詢，指定要返回的欄位
data = {
    "_source": [
        "steamId",  # 正確添加 steamId 欄位
        "twitch_data",  # 查詢 twitch_data
        "Online_by_month",  # 查詢 Online_by_month
    ],
    "query": {"match_all": {}},  # 匹配所有文件
    "size": 1000,  # 每次返回1000筆資料
}

response = requests.get(url, headers=headers, json=data)
response_json = response.json()

# 提取初始查詢的 hits 和 scroll_id
hits = response_json["hits"]["hits"]
scroll_id = response_json["_scroll_id"]

# 存儲資料的列表
data_list = [
    {
        "steamId": hit["_source"].get("steamId"),
        "twitch_data": hit["_source"].get("twitch_data"),
        "Online_by_month": hit["_source"].get("Online_by_month"),
    }
    for hit in hits
]

# 使用 Scroll API 繼續獲取剩餘的資料
while len(hits) > 0:
    scroll_url = "http://192.168.31.130:32327/_search/scroll"
    scroll_data = {
        "scroll": "1m",  # Scroll 保持活躍1分鐘
        "scroll_id": scroll_id,  # 使用前次查詢返回的 scroll_id 繼續查詢
    }

    scroll_response = requests.get(scroll_url, headers=headers, json=scroll_data)
    scroll_response_json = scroll_response.json()

    hits = scroll_response_json["hits"]["hits"]
    scroll_id = scroll_response_json["_scroll_id"]

    # 將新獲取的 hits 資料追加到列表中
    data_list.extend(
        [
            {
                "steamId": hit["_source"].get("steamId"),
                "twitch_data": hit["_source"].get("twitch_data"),
                "Online_by_month": hit["_source"].get("Online_by_month"),
            }
            for hit in hits
        ]
    )

# 將提取的資料轉換為 DataFrame
df = pd.DataFrame(data_list)

# 顯示資料
df

,steamId,twitch_data,Online_by_month
0,240,"[Oct 2024, 6, -18, -75%, 48, 2, -, -, 7, 351, ...","[[Last 30, 8436.63, -1847.2, -17.96%, 13793], ..."
1,80,"[Oct 2024, 1, -1, -50%, 5, 1, -, -, 2, 14, Sep...","[[Last 30, 306.69, -2.4, -0.78%, 537], [August..."
2,262280,"[Sep 2024, 1, -, -, 8, 1, -, -, 2, 88, Aug 202...","[[Last 30, 18.74, -1.5, -7.29%, 52], [August 2..."
3,1179680,"[Oct 2024, 17, -13, -43.3%, 74, 1, -, -, 3, 52...","[[Last 30, 278.63, +115.6, +70.91%, 506], [Aug..."
4,688130,"[Oct 2024, 92, +6, +7%, 249, 5, +1, +25%, 16, ...","[[Last 30, 48.54, -6.7, -12.14%, 100], [August..."
...,...,...,...
10331,2195410,"[Oct 2024, 1, -36, -97.3%, 2, 1, -, -, 1, 3, S...","[[Last 30, 22.17, +5.5, +32.91%, 82], [August ..."
10332,2293680,"[Oct 2024, 1, -61, -98.4%, 2, 1, -, -, 1, 1, S...","[[Last 30, 20.69, -6.3, -23.45%, 61], [August ..."
10333,262100,"[Mar 2021, 1, -, -, 1, 1, -, -, 1, 1]","[[Last 30, 0.00, -0.0, -100.00%, 0], [Septembe..."
10334,1277870,"[May 2024, 201, +200, +20.0K%, 209, 1, -, -, 1...",[]
10335,1343480,[],[]

## online_by_month

### 處理 online_by_month 的原始資料，並計算每個遊戲ID各自擁有的資料數量 (數量顯示在lens)。

In [2]:
# 計算每個steamID的對應的Online_by_month，一共有幾筆時間序列，計算結果顯示在lens

online_df_try = df[["steamId", "Online_by_month"]]  # 從大表取出所需表格

online_len = []  # 創建空集合

for column in online_df_try["Online_by_month"]:

    if column is not None:  # 確認column不為空值

        len_each = len(column)  # 計算 lens 數量，1個lens就代表1個時間點序列
        online_len.append(len_each)  # 將計算結果append回空集合

    else:
        online_len.append(0)  # 若 column 為空值則直接append一個0

online_df_try["lens"] = pd.DataFrame(online_len)  # 轉成dataframe

online_df_try

       steamId                                    Online_by_month  lens
0          240  [[Last 30, 8436.63, -1847.2, -17.96%, 13793], ...   147
1           80  [[Last 30, 306.69, -2.4, -0.78%, 537], [August...   147
2       262280  [[Last 30, 18.74, -1.5, -7.29%, 52], [August 2...   114
3      1179680  [[Last 30, 278.63, +115.6, +70.91%, 506], [Aug...    50
4       688130  [[Last 30, 48.54, -6.7, -12.14%, 100], [August...    67
...        ...                                                ...   ...
10331  2195410  [[Last 30, 22.17, +5.5, +32.91%, 82], [August ...     4
10332  2293680  [[Last 30, 20.69, -6.3, -23.45%, 61], [August ...     3
10333   262100  [[Last 30, 0.00, -0.0, -100.00%, 0], [Septembe...    37
10334  1277870                                                 []     0
10335  1343480                                                 []     0

[10336 rows x 3 columns]

### 為了將時間序列資料展開後仍可對應遊戲ID，因此先以Lens計算出每個遊戲ID應更改之數量。

In [3]:
# 建立空集合
id = []

for x in range(online_df_try.shape[0]):
    if online_df_try["lens"].loc[x] != 0:  # 確認lens的column為不為0

        x_ = (
            online_df_try["steamId"].loc[x]
            * online_df_try["lens"].loc[x]  # 得出一個遊戲id會有多少筆時間序列的資料
        )

        x_split = ",".join(
            [
                x_[i : i + len(online_df_try["steamId"].loc[x])]
                for i in range(
                    0, len(x_), len(online_df_try["steamId"].loc[x]) # 將資料根據遊戲id的長度進行分割
                )  
            ]
        )

        id.append(x_split)  # append回id集合
    else:
        id.append(online_df_try["steamId"].loc[x])  # 若lens為0，則直接append 1個遊戲id

df_id = pd.DataFrame(id, columns=["steamID"])  # 將資料轉換成 dataframe 格式


# 此時每個row的資料尚未展開，因此先將資料分割，在做展開的動作
df_id["steamID"] = df_id["steamID"].str.split(",")
df_id_new = df_id["steamID"].explode().reset_index(drop=True)

z = pd.DataFrame(df_id_new)  # 最後得出最終的資料dataframe

z

        steamID
0           240
1           240
2           240
3           240
4           240
...         ...
183815   262100
183816   262100
183817   262100
183818  1277870
183819  1343480

[183820 rows x 1 columns]

### 將整理好的Online_by_month資料展開，並存成dataframe，同時將空值轉換成0。

In [4]:
# 建立空集合
online_data = []

for column in df["Online_by_month"]:
    if column:  # 检查是否为非空列表
        for index in column:
            online_data.append(index)
    else:
        online_data.append("-")

df_grouped = pd.DataFrame(
    online_data,
    columns=['Date', 'Avg.Players', 'Gain', '% Gain', 'Peak Players'],
)

df_filled_grouped = df_grouped.fillna(0)
df_filled_grouped = df_filled_grouped.replace('-', 0)

df_filled_grouped

               Date Avg.Players     Gain   % Gain Peak Players
0           Last 30     8436.63  -1847.2  -17.96%        13793
1       August 2024    10283.87   -21.08   -0.20%        15935
2         July 2024    10304.96  1833.97  +21.65%        17981
3         June 2024     8470.98  -710.44   -7.74%        13920
4          May 2024     9181.42  1224.42  +15.39%        12756
...             ...         ...      ...      ...          ...
183815    June 2016        0.49     0.13  +37.39%           26
183816     May 2016        0.35    -1.82  -83.72%            5
183817   April 2016        2.18        0        0           14
183818            0           0        0        0            0
183819            0           0        0        0            0

[183820 rows x 5 columns]

### 將整理好的數據和擴展好的steamID做結合，並重新排序column順序

In [5]:
# 新增一個column，將擴展好的steamId做結合

df_filled_grouped["steamId"] = z["steamID"]

In [6]:
# 整理新的column順序

new_oder = ['steamId', 'Date', 'Avg.Players', 'Gain', '% Gain', 'Peak Players']

df_filled_grouped = df_filled_grouped[new_oder]

df_filled_grouped

        steamId         Date Avg.Players     Gain   % Gain Peak Players
0           240      Last 30     8436.63  -1847.2  -17.96%        13793
1           240  August 2024    10283.87   -21.08   -0.20%        15935
2           240    July 2024    10304.96  1833.97  +21.65%        17981
3           240    June 2024     8470.98  -710.44   -7.74%        13920
4           240     May 2024     9181.42  1224.42  +15.39%        12756
...         ...          ...         ...      ...      ...          ...
183815   262100    June 2016        0.49     0.13  +37.39%           26
183816   262100     May 2016        0.35    -1.82  -83.72%            5
183817   262100   April 2016        2.18        0        0           14
183818  1277870            0           0        0        0            0
183819  1343480            0           0        0        0            0

[183820 rows x 6 columns]

## twitch_data

### 處理 twitch_data 的原始資料，並計算每個遊戲ID各自擁有的資料數量 (數量顯示在lens)。

In [7]:
# 計算每個steamID的對應的twitch_data，一共有幾筆時間序列，計算結果顯示在lens

twitch_df_try = df[["steamId", "twitch_data"]]  # 從大表取出所需表格

twitch_len = []  # 創建空集合

for column in twitch_df_try["twitch_data"]:

    if column is not None:  # 確認column不為空值

        len_each = len(column)  # 計算 lens 數量，1個lens就代表1個時間點序列
        twitch_len.append(len_each)  # 將計算結果append回空集合

    else:
        twitch_len.append(0)  # 若 column 為空值則直接append一個0

twitch_df_try["lens"] = pd.DataFrame(twitch_len)  # 轉成dataframe

twitch_df_try.head(20)

    steamId                                        twitch_data  lens
0       240  [Oct 2024, 6, -18, -75%, 48, 2, -, -, 7, 351, ...   950
1        80  [Oct 2024, 1, -1, -50%, 5, 1, -, -, 2, 14, Sep...   950
2    262280  [Sep 2024, 1, -, -, 8, 1, -, -, 2, 88, Aug 202...   940
3   1179680  [Oct 2024, 17, -13, -43.3%, 74, 1, -, -, 3, 52...   950
4    688130  [Oct 2024, 92, +6, +7%, 249, 5, +1, +25%, 16, ...   690
5   1966240                                                 []     0
6   1835210                                                 []     0
7    983260              [May 2024, 0, -, -, 0, 1, -, -, 1, 0]    10
8   2228310                                                 []     0
9   2097160  [May 2024, 3, +1, +50%, 3, 1, -, -, 1, 3, Feb ...    90
10  1098130  [Mar 2024, 164, 18.3K, -2, Jul 2024, 100, +12....   166
11   557180                                                 []     0
12  1245620  [Oct 2024, 9,218, -3,001, -24.6%, 47,571, 519,...   600
13  1016120                                                 []     0
14  1376960                                                 []     0
15  1901200                                                 []     0
16  1835690                                                 []     0
17  1377150                                                 []     0
18   590720  [Jul 2024, 0, -2, -100%, 0, 1, -, -, 1, 0, Nov...    90
19   295710  [May 2022, 0, -1, -100%, 1, 1, -, -, 1, 2, Nov...    70

### 將處理好的twitch_data做展開。

In [8]:
twitch_data = []


for column in twitch_df_try["twitch_data"]:
    if column is not None or []:
        for index in column:
            twitch_data.append(index)
    
    else:
        twitch_data.append(0)

twitch_data

['Oct 2024',
 '6',
 '-18',
 '-75%',
 '48',
 '2',
 '-',
 '-',
 '7',
 '351',
 'Sep 2024',
 '24',
 '+5',
 '+26.3%',
 '32,229',
 '2',
 '-1',
 '-33.3%',
 '12',
 '15.0K',
 'Aug 2024',
 '19',
 '-80',
 '-80.8%',
 '21,696',
 '3',
 '-',
 '-',
 '13',
 '11.9K',
 'Jul 2024',
 '99',
 '+77',
 '+350%',
 '14,339',
 '3',
 '+1',
 '+50%',
 '12',
 '66.7K',
 'Jun 2024',
 '22',
 '+11',
 '+100%',
 '3,763',
 '2',
 '-',
 '-',
 '11',
 '14.8K',
 'May 2024',
 '11',
 '-5',
 '-31.3%',
 '4,223',
 '2',
 '-',
 '-',
 '10',
 '7.3K',
 'Apr 2024',
 '16',
 '-12',
 '-42.9%',
 '13,771',
 '2',
 '-1',
 '-33.3%',
 '9',
 '11.1K',
 'Mar 2024',
 '28',
 '+15',
 '+115%',
 '4,466',
 '3',
 '-',
 '-',
 '14',
 '18.3K',
 'Feb 2024',
 '13',
 '-1',
 '-7.1%',
 '1,644',
 '3',
 '-',
 '-',
 '11',
 '8.3K',
 'Jan 2024',
 '14',
 '-4',
 '-22.2%',
 '4,983',
 '3',
 '-',
 '-',
 '13',
 '8.8K',
 'Dec 2023',
 '18',
 '+7',
 '+63.6%',
 '3,597',
 '3',
 '+1',
 '+50%',
 '12',
 '11.9K',
 'Nov 2023',
 '11',
 '-',
 '-',
 '855',
 '2',
 '-1',
 '-33.3%',
 '11',
 '7.3K',
 'Oct 2023',
 '11',
 '+3',
 '+37.5%',
 '1,318',
 '3',
 '+1',
 '+50%',
 '12',
 '7.4K',
 'Sep 2023',
 '8',
 '-9',
 '-52.9%',
 '391',
 '2',
 '-',
 '-',
 '11',
 '5.4K',
 'Aug 2023',
 '17',
 '+4',
 '+30.8%',
 '1,112',
 '2',
 '-1',
 '-33.3%',
 '10',
 '11.1K',
 'Jul 2023',
 '13',
 '+2',
 '+18.2%',
 '3,158',
 '3',
 '+1',
 '+50%',
 '11',
 '8.7K',
 'Jun 2023',
 '11',
 '-27',
 '-71.1%',
 '253',
 '2',
 '-1',
 '-33.3%',
 '10',
 '7.2K',
 'May 2023',
 '38',
 '+24',
 '+171%',
 '7,539',
 '3',
 '-',
 '-',
 '12',
 '23.8K',
 'Apr 2023',
 '14',
 '-4',
 '-22.2%',
 '969',
 '3',
 '-',
 '-',
 '11',
 '9.0K',
 'Mar 2023',
 '18',
 '+10',
 '+125%',
 '2,686',
 '3',
 '-',
 '-',
 '13',
 '12.0K',
 'Feb 2023',
 '8',
 '-1',
 '-11.1%',
 '95',
 '3',
 '+1',
 '+50%',
 '12',
 '5.1K',
 'Jan 2023',
 '9',
 '-16',
 '-64%',
 '239',
 '2',
 '-1',
 '-33.3%',
 '11',
 '6.3K',
 'Dec 2022',
 '25',
 '+7',
 '+38.9%',
 '1,123',
 '3',
 '+1',
 '+50%',
 '13',
 '16.4K',
 'Nov 2022',
 '18',
 '+5',
 '+38.5%',
 '1,559',
 '2',
 '-',
 '-',
 '10',
 '11.4K',
 'Oct 2022',
 '13',
 '-68',
 '-84%',
 '214',
 '2',
 '-1',
 '-33.3%',
 '11',
 '8.0K',
 'Sep 2022',
 '81',
 '-620',
 '-88.4%',
 '10,097',
 '3',
 '-',
 '-',
 '11',
 '53.9K',
 'Aug 2022',
 '701',
 '+493',
 '+237%',
 '72,773',
 '3',
 '-',
 '-',
 '13',
 '505K',
 'Jul 2022',
 '208',
 '+201',
 '+2.9K%',
 '7,042',
 '3',
 '+1',
 '+50%',
 '13',
 '149K',
 'Jun 2022',
 '7',
 '-3',
 '-30%',
 '170',
 '2',
 '-',
 '-',
 '9',
 '5.1K',
 'May 2022',
 '10',
 '-10',
 '-50%',
 '447',
 '2',
 '-1',
 '-33.3%',
 '12',
 '6.7K',
 'Apr 2022',
 '20',
 '-10',
 '-33.3%',
 '2,579',
 '3',
 '+1',
 '+50%',
 '12',
 '13.1K',
 'Mar 2022',
 '30',
 '+10',
 '+50%',
 '10,055',
 '2',
 '-1',
 '-33.3%',
 '14',
 '22.0K',
 'Feb 2022',
 '20',
 '-42',
 '-67.7%',
 '6,260',
 '3',
 '-',
 '-',
 '12',
 '11.8K',
 'Jan 2022',
 '62',
 '+48',
 '+343%',
 '8,610',
 '3',
 '-',
 '-',
 '14',
 '37.9K',
 'Dec 2021',
 '14',
 '-2',
 '-12.5%',
 '651',
 '3',
 '-1',
 '-25%',
 '12',
 '8.5K',
 'Nov 2021',
 '16',
 '-8',
 '-33.3%',
 '409',
 '4',
 '-',
 '-',
 '15',
 '9.9K',
 'Oct 2021',
 '24',
 '+2',
 '+9.1%',
 '2,151',
 '4',
 '-',
 '-',
 '14',
 '15.1K',
 'Sep 2021',
 '22',
 '-8',
 '-26.7%',
 '737',
 '4',
 '-1',
 '-20%',
 '16',
 '14.1K',
 'Aug 2021',
 '30',
 '+9',
 '+42.9%',
 '4,060',
 '5',
 '+1',
 '+25%',
 '16',
 '19.8K',
 'Jul 2021',
 '21',
 '-5',
 '-19.2%',
 '1,928',
 '4',
 '-1',
 '-20%',
 '13',
 '14.0K',
 'Jun 2021',
 '26',
 '-5',
 '-16.1%',
 '3,988',
 '5',
 '-',
 '-',
 '17',
 '16.5K',
 'May 2021',
 '31',
 '-58',
 '-65.2%',
 '4,359',
 '5',
 '-',
 '-',
 '17',
 '20.3K',
 'Apr 2021',
 '89',
 '+68',
 '+324%',
 '8,585',
 '5',
 '-1',
 '-16.7%',
 '19',
 '57.7K',
 'Mar 2021',
 '21',
 '-4',
 '-16%',
 '625',
 '6',
 '-',
 '-',
 '23',
 '14.1K',
 'Feb 2021',
 '25',
 '-2',
 '-7.4%',
 '1,349',
 '6',
 '-1',
 '-14.3%',
 '18',
 '15.3K',
 'Jan 2021',
 '27',
 '+5',
 '+22.7%',
 '1,010',
 '7',
 '+1',
 '+16.7%',
 '22',
 '18.7K',
 'Dec 2020',
 '22',
 '+3',
 '+15.8%',
 '1,486',
 '6',
 '+2',
 '+50%',
 '23',
 '14.4K',
 'Nov 2020',
 '19',
 '+5',
 '+35.7%',
 '740',
 '4',
 '-',
 '-',
 '18',
 '12.4K',
 'Oct 2020',
 '14',
 '-6',
 '-30%',
 '764',
 '4',
 '-',
 '-',
 '13',
 '8.8K',
 'Sep 2020',
 '20',
 '-2',
 '-9.1%',
 '3,046',
 '4',
 '-2',
 '-33.3%',
 '17',
 '12.9K',
 'Aug 2020',
 '22',
 '-1',
 '-4.3%',
 '2,763',
 '6',
 '-',
 '-',
 '19',
 '15.3K',
 'Jul 2020',
 '23',
 '-83',
 '-78.3%',
 '1,505',
 '6',
 '-1',
 '-14.3%',
 '21',
 '15.1K',
 'Jun 2020',
 '106',
 '+80',
 '+308%',
 '55,820',
 '7',
 '-2',
 '-22.2%',
 '21',
 '69.9K',
 'May 2020',
 '26',
 '-210',
 '-89%',
 '718',
 '9',
 '-1',
 '-10%',
 '28',
 '18.0K',
 'Apr 2020',
 '236',
 '+222',
 '+1.6K%',
 '71,421',
 '10',
 '+4',
 '+66.7%',
 '32',
 '157K',
 'Mar 2020',
 '14',
 '-25',
 '-64.1%',
 '2,115',
 '6',
 '+1',
 '+20%',
 '25',
 '9.3K',
 'Feb 2020',
 '39',
 '+24',
 '+160%',
 '4,234',
 '5',
 '-',
 '-',
 '17',
 '24.0K',
 'Jan 2020',
 '15',
 '-1',
 '-6.3%',
 '885',
 '5',
 '+1',
 '+25%',
 '19',
 '10.2K',
 'Dec 2019',
 '16',
 '+4',
 '+33.3%',
 '5,083',
 '4',
 '-',
 '-',
 '17',
 '10.3K',
 'Nov 2019',
 '12',
 '-',
 '-',
 '3,263',
 '4',
 '+1',
 '+33.3%',
 '15',
 '7.1K',
 'Oct 2019',
 '12',
 '-3',
 '-20%',
 '958',
 '3',
 '-',
 '-',
 '15',
 '7.0K',
 'Sep 2019',
 '15',
 '+2',
 '+15.4%',
 '3,384',
 '3',
 '-',
 '-',
 '12',
 '9.0K',
 'Aug 2019',
 '13',
 '-2',
 '-13.3%',
 '723',
 '3',
 '-',
 '-',
 '12',
 '7.9K',
 'Jul 2019',
 '15',
 '-4',
 '-21.1%',
 '1,306',
 '3',
 '-',
 '-',
 '14',
 '9.5K',
 'Jun 2019',
 '19',
 '+10',
 '+111%',
 '3,531',
 '3',
 '-1',
 '-25%',
 '13',
 '11.4K',
 'May 2019',
 '9',
 '-',
 '-',
 '298',
 '4',
 '-',
 '-',
 '15',
 '5.5K',
 'Apr 2019',
 '9',
 '-11',
 '-55%',
 '224',
 '4',
 '+1',
 '+33.3%',
 '17',
 '6.0K',
 'Mar 2019',
 '20',
 '+6',
 '+42.9%',
 '8,418',
 '3',
 '-',
 '-',
 '13',
 '12.3K',
 'Feb 2019',
 '14',
 '-7',
 '-33.3%',
 '2,718',
 '3',
 '-',
 '-',
 '15',
 '7.8K',
 'Jan 2019',
 '21',
 '+12',
 '+133%',
 '4,963',
 '3',
 '-',
 '-',
 '15',
 '13.1K',
 'Dec 2018',
 '9',
 '-61',
 '-87.1%',
 '2,898',
 '3',
 '-',
 '-',
 '17',
 '6.0K',
 'Nov 2018',
 '70',
 '+56',
 '+400%',
 '57,828',
 '3',
 '-',
 '-',
 '13',
 '40.2K',
 'Oct 2018',
 '14',
 '+7',
 '+100%',
 '3,125',
 '3',
 '+1',
 '+50%',
 '13',
 '8.8K',
 'Sep 2018',
 '7',
 '-1',
 '-12.5%',
 '280',
 '2',
 '-1',
 '-33.3%',
 '14',
 '4.5K',
 'Aug 2018',
 '8',
 '-4',
 '-33.3%',
 '311',
 '3',
 '-',
 '-',
 '10',
 '5.2K',
 'Jul 2018',
 '12',
 '+4',
 '+50%',
 '4,583',
 '3',
 '-',
 '-',
 '12',
 '7.7K',
 'Jun 2018',
 '8',
 '-9',
 '-52.9%',
 '417',
 '3',
 '+1',
 '+50%',
 '10',
 '4.6K',
 'May 2018',
 '17',
 '+7',
 '+70%',
 '3,394',
 '2',
 '-1',
 '-33.3%',
 '12',
 '9.3K',
 'Apr 2018',
 '10',
 '-14',
 '-58.3%',
 '4,915',
 '3',
 '-1',
 '-25%',
 '12',
 '5.3K',
 'Mar 2018',
 '24',
 '+14',
 '+140%',
 '4,345',
 '4',
 '-1',
 '-20%',
 '11',
 '7.7K',
 'Feb 2018',
 '10',
 '-4',
 '-28.6%',
 '256',
 '5',
 '+1',
 '+25%',
 '15',
 '3.5K',
 'Jan 2018',
 '14',
 '-9',
 '-39.1%',
 '881',
 '4',
 '+1',
 '+33.3%',
 '13',
 '4.7K',
 'Dec 2017',
 '23',
 '-9',
 '-28.1%',
 '5,140',
 '3',
 '-',
 '-',
 '10',
 '8.2K',
 'Nov 2017',
 '32',
 '-16',
 '-33.3%',
 '5,426',
 '3',
 '-',
 '-',
 '13',
 '10.1K',
 'Oct 2017',
 '48',
 '+9',
 '+23.1%',
 '5,482',
 '3',
 '-',
 '-',
 '10',
 '14.5K',
 'Sep 2017',
 '39',
 '+12',
 '+44.4%',
 '3,511',
 '3',
 '-',
 '-',
 '9',
 '6.7K',
 'Aug 2017',
 '27',
 '+8',
 '+42.1%',
 '8,944',
 '3',
 '-1',
 '-25%',
 '11',
 '7.9K',
 'Jul 2017',
 '19',
 '-22',
 '-53.7%',
 '2,486',
 '4',
 '+1',
 '+33.3%',
 '13',
 '6.2K',
 'Jun 2017',
 '41',
 '+33',
 '+413%',
 '2,879',
 '3',
 '-',
 '-',
 '10',
 '10.3K',
 'May 2017',
 '8',
 '-266',
 '-97.1%',
 '227',
 '3',
 '-',
 '-',
 '10',
 '1.7K',
 'Apr 2017',
 '274',
 '+257',
 '+1.5K%',
 '31,438',
 '3',
 '+1',
 '+50%',
 '24',
 '82.4K',
 'Mar 2017',
 '17',
 '-7',
 '-29.2%',
 '2,131',
 '2',
 '-1',
 '-33.3%',
 '13',
 '6.7K',
 'Feb 2017',
 '24',
 '-20',
 '-45.5%',
 '2,614',
 '3',
 '-1',
 '-25%',
 '13',
 '7.4K',
 'Jan 2017',
 '44',
 '+17',
 '+63%',
 '11,823',
 '4',
 '-',
 '-',
 '13',
 '16.2K',
 'Dec 2016',
 '27',
 '-',
 '-',
 '2,250',
 '4',
 '-',
 '-',
 '12',
 '6.5K',
 'Oct 2024',
 '1',
 '-1',
 '-50%',
 '5',
 '1',
 '-',
 '-',
 '2',
 '14',
 'Sep 2024',
 '2',
 '-5',
 '-71.4%',
 '66',
 '1',
 '-',
 '-',
 '2',
 '177',
 'Aug 2024',
 '7',
 '-19',
 '-73.1%',
 '1,150',
 '1',
 '-',
 '-',
 '4',
 '2.7K',
 'Jul 2024',
 '26',
 '+21',
 '+420%',
 '6,824',
 '1',
 '-',
 '-',
 '3',
 '3.1K',
 'Jun 2024',
 '5',
 '-23',
 '-82.1%',
 '272',
 '1',
 '-',
 '-',
 '2',
 '734',
 ...]

### 展開後的資料預設10個字元為一組，將資料重新組合成dataframe格式。

In [9]:
grouped_data = []


# 每 10 行分為一組
for i in range(0, len(twitch_data), 10):
    grouped_data.append(twitch_data[i : i + 10])

# 將數據轉換為 DataFrame 並設置列名
df_grouped = pd.DataFrame(
    grouped_data,
    columns=[
        "Date",
        "Avg Viewers",
        "Gain",
        "% Gain",
        "Peak Viewers",
        "Avg Streams",
        "Gain",
        "% Gain",
        "Peak Streams",
        "Hours Watched",
    ],
)

df_grouped.head(450)

,Date,Avg Viewers,Gain,% Gain,Peak Viewers,Avg Streams,Gain,% Gain,Peak Streams,Hours Watched
0,Oct 2024,6,-18,-75%,48,2,-,-,7,351
1,Sep 2024,24,+5,+26.3%,"32,229",2,-1,-33.3%,12,15.0K
2,Aug 2024,19,-80,-80.8%,"21,696",3,-,-,13,11.9K
3,Jul 2024,99,+77,+350%,"14,339",3,+1,+50%,12,66.7K
4,Jun 2024,22,+11,+100%,"3,763",2,-,-,11,14.8K
...,...,...,...,...,...,...,...,...,...,...
445,Apr 2019,59,"-2,842",-98%,"2,694",2,-10,-83.3%,10,30.6K
446,Mar 2019,"2,901",+798,+37.9%,"56,704",12,+11,+1.1K%,55,2.16M
447,Feb 2019,"2,103",-,-,"9,788",1,-,-,10,303K
448,May 2024,0,-,-,0,1,-,-,1,0
449,May 2024,3,+1,+50%,3,1,-,-,1,3

In [10]:
# df_grouped.columns = ['Date', 'Avg Viewers', 'Viewers Gain', 'Viewers % Gain', 'Peak Viewers', 'Avg Streams',
       # 'Streams Gain', 'Streams % Gain', 'Peak Streams', 'Hours Watched']